

<main>
  <section class="contenedor1"><!--para separarlos mediante margin o pddg-->
        <div class="contenido-header"> <!--si estaria des pues del header seria lo mismo-->
            <div class="textos-header"><!--before esta para esto-->
                <h1>Brayan Martinez Flores</h1>
                <p>"Si he logrado llegar lejos, ha sido porque me he subido sobre los hombros de gigantes"</p>
                <a href="#">Sobre mí</a>
            </div>
            <img src="/svg/gh.svg" alt="">
        </div>

    </section>
    </main>