
<footer >

		<div class="redes-sociales">
			<div class="contenedor-icono">
				<a href="https://wa.link/nhd03f" target="_blank" class="twitter">
					<i class="fab fa-whatsapp"></i>
				</a>
			</div>
			<div class="contenedor-icono">
				<a href="https://www.facebook.com/brayan.martinezflores.9" target="_blank" class="facebook">
					<i class="fab fa-facebook-f"></i>
				</a>
			</div>
			<div class="contenedor-icono">
				<a href="https://github.com/mr01robot" target="_blank" class="instagram">
					<i class="fab fa-github"></i>
				</a>
			</div>
		</div>
		<div class="creado-por">
			<p>Portafolio diseñado por <a href="#">Brayan Martinez</a> - <a href="https://www.facebook.com/brayan.martinezflores.9">Brayan Martinez</a></p>
		</div>
	</footer>