<header >
<section class="contenedor">
           <div class="nav"><!--para separarlos mediante margin-->
               <div class="logo">
                   <img src="/img/logob.png" alt="">
                   <p>Brayanmf<p>
               </div>
               <div class="enlaces-header">
                    <a href="#">Inicio</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Portafolio</a>
                    <a href="#">documentacion</a>
                    <a href="#">Registrate</a>
                    <a class="btn btn-outline-secondary"  href="#">Contactame</a>

               </div>
               <div class="hamburguer">
                   <i class="fas fa-bars"></i>
               </div>
           </div>
  
      <!-- <section class="contenedor">
        <div class="contenido-header"> 
            <div class="textos-header">
                <h1>Our creativity is your success</h1>
                <p>Lorem ipsum donteuptas suscipit obcaecati quaerat porro, dolor, at ipsum.</p>
                <a href="#">Learn more</a>
            </div>
            <img src="img/harmony.svg" alt="">
        </div>

    </section>-->
</section>
   </header>