*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor{
  width: 100%;
  height: 100px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0, .2);
  position: fixed;
  transition: ease-in-out 0.5s;
  top: 0;
z-index: 3;
}
.nav{
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  align-items: center;
  padding: 0 40px;

  max-width: 1400px;
  margin: auto;
  overflow: hidden;
}
.nav .logo{
  display: flex;
  height: 100px;
  align-items: center;

}
.nav .logo p{
font-size:x-large;
font-weight: 800;
color: #000000;

}
.nav .logo img{
  background: rgb(255, 255, 255);
  height: 100%;
  vertical-align: top;
}
.enlaces-header{
 
  transition: ease-in-out 0.5s;/*retroceso para el ocultamiento Y ANIMACION CON  de jv*/
}
.enlaces-header a{
  font-weight: 500;
  color: #000000;

  text-decoration: none;
  margin-left: 20px;
 
}
.enlaces-header a:hover{
  color: #4133b9;
}
.enlaces-header a.btn:hover{
  color:   #ccc;
}


.hamburguer{
  width: 80px;
  height: 80px;
display: none;

  text-align: center;
  cursor: pointer;
 /* z-index: 4;/*no es necesario ya que pertenece al img*/
 /* transition:  color 0.5s ease-in;*/
}
.hamburguer i{
  font-size: 25px;
  line-height: 80px;
}
/**footer*/
footer {


	margin: auto;
	
}
footer .redes-sociales {

  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;

}

footer .redes-sociales .twitter {background: #1df236;}
footer .redes-sociales .facebook {background: #3b5998;}
footer .redes-sociales .instagram {background: #242223;}

footer .redes-sociales a i {
	font-size: 30px;
	line-height: 60px;
}

footer .contenedor-icono:hover a{
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}

footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
  padding: 5px;
	font-size: 14px;
	color: #c13584;
}

footer .creado-por a {color: #000;}
footer .creado-por a:hover {text-decoration: underline;}
/*******************main****************************/
.contenedor1{
  margin-top: 100px;/*problem sticky*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.contenido-header{
  margin: auto;
  max-width: 1400px;
  height: 600px;
  display: flex;
  justify-content: space-between;

  align-items:center;
}
.contenido-header img{
  width: 60%;
  /*width: 550px;*/
  animation: ease-in animat 1s;/*el tieempo u retraso*/
}
@keyframes animat{/*animacion zoom*/
  0%{transform:scale(0);}
  100%{transform: scale(1);}
}
.textos-header{
  margin:0 0 0 30px;/*ajustando el espacio*/
}
.contenido-header p{
  font-weight: 500;
  margin-top: 14px;
  color: #413f3f;
}
.contenido-header a{/*boton verde*/
  margin: 28px 0;
  width: 130px;
  display: block;

  color: #000000;
  background: #4133b9;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;/*mayusculas*/
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(65, 51, 185,.46);

}
.contenido-header a:hover{
  color: #4133b9;
  background-color: #ccc;

}
